OLLAMA_ENDPOINT=http://localhost:11434/api/generate
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:xxxxxxxxxxxx:NotificationMail
LIST_SNS_TOPIC_ARN='{
  "ForecastingError":"/aws/lambda/Forecasting",
  "PredictionError":"/aws/lambda/Prediction"
}'
AWS_REGION=us-east-1
PORT=8080